{% extends '::base.html.twig' %}
{% block content -%}
<div id="content" class="jobs">
 <table>
 <thead>
 <tr>
 <th hidden="true" >Localización</th>
 <th hidden="true" >Cargo</th>
 <th hidden="true" >Empresa</th>
 <th hidden="true" >Fecha creación</th>
 </tr>
 </thead>
 <tbody>
 {% for job in jobs %}
 <tr>
 <td class="location">{{ job.location }}</td>
 <td class="position">{{ job.position }}</td>
 <td class="company">{{ job.company }}</td>

 <td hidden="true" >
 <small>publicado {{ job.expiresAt|date("m/d/Y") }}</small>
 </td>
 <td>
 <div hidden="true" style="padding: 20px 0">
 <ul>
 <li>
 <a href="{{ path('job_show', { 'id': job.id })
}}">mostrar</a>
 </li>
 <li>
 <a href="{{ path('job_edit', { 'id': job.id })
}}">editar</a>
 </li>
 </ul>
 </div>
 </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
 <ul>
 <li>
 <a href="{{ path('job_new') }}">
 Publicar nuevo empleo
 </a>
 </li>
 </ul>
</div>
{% endblock %} 
