<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <title>Jobeet - Tu plataforma de búsqueda de empleo</title>
 <link rel="shortcut icon" href="/favicon.ico" />
 <link rel="stylesheet" href="{{ asset('bundles/framework/css/job.css') }}" />
 <link rel="stylesheet" href="{{ asset('bundles/framework/css/jobs.css') }}" />
 <link rel="stylesheet" href="{{ asset('bundles/framework/css/main.css') }}" />
</head>
<body>
 <div id="container">
 <div id="header">
 <div class="content">
 <h1>
 <a href="{{ path('job_index') }}">
 <img src="/legacy/images/logo.jpg" alt="Plataforma web para la
búsqueda de empleo" />
 </a>
 </h1>
 <div id="sub_header">
 <div class="post">
 <h2>Busca desarrolladores</h2>
 <div>
 <a href="{{ path('job_new') }}">Añade un empleo</a>
 </div>
 </div>
 <div class="search">
 <h2>Busca un empleo</h2>
 <form action="" method="get">
 <input type="text" name="keywords"
 id="search_keywords" />
 <input type="submit" value="search" />
 <div class="help">
 Entre palabra clave para la búsqueda (ciudad, país,
cargo,...)
 </div>
 </form>
 </div>
 </div>
 </div>
 {% block content %}
     
     
     
     
     
 {% endblock %}
 </div>
 <div id="footer">
 <div class="content">
 <span class="symfony">
 <img src="/legacy/images/jobeet-mini.png" /> 
 
 
 desarrollado con <a href="/">
 <img src="/legacy/images/symfony.gif" alt="symfony framework" />
 </a>
 </span>
 <ul>
 <li><a href="">Sobre Jobeet</a></li>
 <li class="feed"><a href="">Todos los feed</a></li>
 <li><a href="">Jobeet API</a></li>
 <li class="last"><a href="">Afiliados</a></li>
 </ul>
 </div>
 </div>
 </div>
</body>
</html> 
